---
import Header from '../components/Header.astro'
import Aurora from '../components/Hero.tsx'
import Layout from '../layouts/Layout.astro'
import BlurText from '../components/Intro.tsx'
import About from '../components/About.astro'
import Experience from '../components/Experience.tsx'
import Project from '../components/Project.tsx'
---

<Layout>
	<Header />
	<section class="relative min-h-screen w-full flex items-center justify-center bg-black">
		<div class="absolute inset-0 w-full h-full">
			<Aurora 
				colorStops={["#030507", "#b19eef", "#613fe9"]}
				blend={0.5}
				amplitude={1.0}
				speed={0.5}
				client:load
			/>
		</div>
		<div class="relative z-10 flex flex-col items-center">
			<BlurText
				text="Hey, I'm Stanley"
				delay={150}
				animateBy="words"
				direction="top"
				className="text-6xl mb-8 text-white font-bold"
				client:load
			/>
			<BlurText
				text="I love creating and designing full-stack applications."
				delay={200}
				animateBy="words"
				direction="top"
				className="text-2xl text-gray-300"
				client:load
			/>
		</div>
	</section>
	<About />
	<section class="min-h-screen bg-gradient-to-b from-gray-900 to-black pb-20 pb-0 px-6">
		<div class="max-w-6xl mx-auto">
			<h2 class="text-5xl font-bold text-white mb-16 text-center">Experience</h2>
			
			<div class="relative">
				<div class="absolute left-8 top-0 bottom-0 w-0.5 bg-gradient-to-b from-slate-400 via-slate-300 to-slate-500 hidden md:block"></div>
				<Experience 
					company="BeaverHacks"
					role="Software Developer"
					duration="Jun 2025 - Present"
					description={["Developing backend infrastructure for Oregon’s largest hackathon, scaling participant capacity from 50 to 300+", 
					"Designing and implementing RESTful APIs with authentication and authorization, ensuring secure data handling",
					"Collaborating in an agile team environment with cross-functional developers to deliver features iteratively"]}
					client:load
				/>
				<Experience 
					company="Oregon State University"
					role="Undergraduate Learning Assistant"
					duration="Sept 2025 - Dec 2025"
					description={["Supported 150+ students in web development coursework involving JavaScript, Node.js, and Express.js", 
					"Conducted code reviews and provided feedback on assignments, reinforcing software engineering best practices",
					"Attended weekly meetings with course instructor to maintain fair evaluation standards for students"]}
					client:load
				/>
			</div>
		</div>
	</section>
	
	<section id="projects" class="min-h-screen bg-gradient-to-b from-black to-gray-900 py-20 px-6">
		<div class="max-w-6xl mx-auto">
			<h2 class="text-5xl font-bold text-white mb-16 text-center">Projects</h2>
			<Project 
				title="Hackathon Submission Platform"
				description="A full-stack application that streamlines project submission and judging for BeaverHacks, Oregon State University's collegiate hackathon."
				technologies={["Next.js", "TypeScript", "PostgreSQL", "Prisma", "Neon", "TailwindCSS"]}
				githubUrl="https://github.com/OregonStateHackathonClub/website#"
				liveUrl="https://judge-phi.vercel.app/2026"
				image="hackathon-platform.png"
				client:load
			/>
			<Project 
				title="AI Voice Memory Portfolio"
				description="An application that collects voices of loved ones utilizing the ElevenLabs API. This was built at QuackHacks, University of Oregon's hackathon."
				technologies={["ElevenLabs API", "Next.js", "TypeScript", "PostgreSQL", "Neon", "Prisma", "TailwindCSS"]}
				githubUrl="https://github.com/StanLeeEng/quackhacks-remnants"
				liveUrl="https://www.youtube.com/watch?v=G6I5HPYKaW4"
				image="remnant.png"
				client:load
			/>
			<Project 
				title="Speech-to-Text AI Note Converter"
				description="A web app that converts audio into organized notes for the user utilizing the Google Gemini API."
				technologies={["HTML", "CSS", "Javascript", "Express.js", "React.js", "MongoDB", "Vite", "Google Gemini API"]}
				githubUrl="https://github.com/BGill8/beavernotes-ai-notetaking"
				liveUrl="https://www.youtube.com/watch?v=O1jytnXywMQ&t=2s"
				image="beavernotes.png"
				client:load
			/>
			<Project 
				title="Mafia Party Game"
				description="A fun web app meant to replicate the reputable party game Mafia. This utilizes the Web Socket API in order to communicate between users."
				technologies={["HTML", "CSS", "Javascript", "Websocket API"]}
				githubUrl="https://github.com/osu-cs290-f24/final-project-the-mafia"
				client:load
			/>
		</div>
	</section>
</Layout>
