---
import Header from '../components/Header.astro';
import Aurora from '../components/Hero.tsx';
import Layout from '../layouts/Layout.astro';
import BlurText from '../components/Intro.tsx'
---

<Layout>
	<Header />
	<section class="relative min-h-screen w-full flex items-center justify-center bg-black">
		<div class="absolute inset-0 w-full h-full">
			<Aurora 
				colorStops={["#7cff67", "#b19eef", "#5227ff"]}
				blend={0.5}
				amplitude={1.0}
				speed={0.5}
				client:load
			/>
		</div>
		<div class="relative z-10 flex flex-col items-center">
			<BlurText
				text="Hi, I'm Stanley Eng"
				delay={150}
				animateBy="words"
				direction="top"
				className="text-6xl mb-8 text-white font-bold"
				client:load
			/>
			<BlurText
				text="Creating and designing full-stack applications."
				delay={200}
				animateBy="words"
				direction="top"
				className="text-2xl text-gray-300"
				client:load
			/>
		</div>
	</section>
</Layout>
